.search{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search input{
    background-color: #232323;
    color: #fff;
    outline: none;
    border: 1px solid #11AA8A;
}

.search .title{
    font-size: 20px;
}

.size-20{
    font-size: 20px;
}

.blog-post{
    margin: 20px 0 0 0;
    display: flex;
    border-bottom: 1px solid #16AA8A;
    padding-bottom: 20px;
}

.post-img img{
    width: 200px;
    height: 100px;
    margin-right: 20px;
    object-fit: cover;
    border: 1px solid #16AA8A;
}

.post-title{
    font-size: 1.3rem;
    color: #16AA8A !important;
}

.post-details{
    display: flex;
    font-size: 0.8rem;
}

.project-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(210px, max-content));
    grid-gap: 16px;
    justify-content: center;
}
.project {
    border: 1px solid green;
    padding: 10px 20px 10px 20px;
    margin: 10px;
}
.project img{
    width: 150px;
    height: 150px;
}
.link{
    color: #16AA8A;
}
.link:hover{
    border-bottom: 1px solid #ff63ac;
    cursor: pointer;
}


.post-list-option {
    float: right;
    width: 100%;
    margin-bottom: 5px;
}
.draft-js-style{
    border:1px solid #fff;
    height:400px;
}
.rdw-editor-toolbar, .rdw-editor-toolbar a {
    color: #000 !important;
}

.sub-menu{
    padding: 0px 0 0 100px;
}

input[type=text], input[type=password]{
    background-color: transparent;
    border: 1px solid #fff;
    color: white;
    outline: none;
}
input[type=text]:focus, input[type=password]:focus{
    border: 1px solid #16AA8A;
    color: white;
}

button{
    color: #16AA8A;
    background-color: transparent;
    border: none;
    cursor: pointer;
    border:1px solid #16AA8A;
}

.form{
    padding-left:70px;
    max-width: 100%;
}
.form .title{
    font-size: 20px;
}

.form input{
    width: 100%;
}

.form button{
    float: right;
    padding: 5px 40px;
}

button:hover{
    color: #fff;
    background-color: #16AA8A;
}

.form .post-checkbox{
    display: flex;
}

.form .input{
    margin-bottom: 20px;
}

.quill .ql-toolbar{
    background-color: #fff;
}

.profile-img{
    display: inline-block;
    float: left;
    margin-right: 20px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid #16AA8A;
    padding: 10px;
}

.lists-admin{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #16AA8A;
    padding: 5px 10px;
}

.lists-admin .post-item, .lists-admin .post-list{
    margin: 0
}

.input-error{
    color: #ff1f1f
}

.input select{
    width: 100%;
    padding: 5px;
    font-size: 16px;
    font-family: unset;
}

.ck-editor h1{
    color:#000 !important;
}

.pagination{
    width: 100%;
}

.pagination .prev, .pagination .next{
    margin: 0 15px;
}

.pagination button, .pagination input{
    width: 80px;
    height: 25px;
    margin-top: 10px;
}

.pagination input{
    text-align: center;
}

.disabled-btn{
    color: #afafaf;
    border: 1px solid #8d8d8d;
}
.disabled-btn:hover{
    color: white;
    background-color: #afafaf;
}

.d-flex{
    display: flex;
    justify-content: center;
}
.alert {
    padding: 5px 10px;
    margin: 1rem 0;
    border: 1px solid transparent;
    border-radius: .25rem;
}
.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}
.alert-info {
    color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff;
}
.alert-error {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.post-category{
    margin-right: 10px;
    color: #000;
    padding: 0 10px;
    border-radius: 10px;
    border: 1px solid #fff !important;
}

.cancel{
    background-color: unset;
    color: #ff0000;
    border: none;
}
.cancel:hover{
    background: none;
    color: #d03846;
}


.login{
    max-width: 300px;
    margin: 0 auto;
}

.login button{
    padding: 5px;
}

.login h1{
    text-align: center;
    margin: 0;
}

.login input{
    width: 100%;
    padding: 5px;
}

.update{
    background-color: unset;
    color: #007BFF;
    border: unset;
    font-style: italic;
    font-size: 15px;
}

.update:hover{
    background-color: unset;
    color: #005dbf;
}


.delete{
    background-color: unset;
    color: #FFC107;
    border: unset;
    font-style: italic;
    font-size: 15px;
}

.delete:hover{
    background-color: unset;
    color: #ba8a00;
}

.confirm{
    background-color: unset;
    color: #DC3545;
    border: unset;
    font-style: italic;
    font-size: 15px;
}
.confirm:hover{
    background-color: unset;
    color: #95212d;
}

.customized-text{
    color: #16AA8A;
}

.option{
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}