.search{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search input{
    background-color: #4b4b4b;
    color: #11AA8A;
    outline: none;
}

.search .title{
    font-size: 20px;
}

.blog-post{
    margin: 20px 0 0 0;
    display: flex;
    border-bottom: 1px solid #16AA8A;
    padding-bottom: 20px;
}

.post-img img{
    width: 200px;
    height: 100px;
    margin-right: 20px;
    object-fit: cover;
    border: 1px solid #16AA8A;
}

.post-title{
    font-size: 1.3rem;
    color: #16AA8A !important;
}

.post-details{
    display: flex;
    font-size: 0.8rem;
}

.project-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(210px, max-content));
    grid-gap: 16px;
    justify-content: center;
}
.project {
    border: 1px solid green;
    padding: 10px 20px 10px 20px;
    margin: 10px;
}
.project img{
    width: 150px;
    height: 150px;
}
.link{
    color: #16AA8A;
}
.link:hover{
    border-bottom: 4px solid #ff63ac;
    cursor: pointer;
}
