.search{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search input{
    background-color: #232323;
    color: #fff;
    outline: none;
    border: 1px solid #11AA8A;
}

.search .title{
    font-size: 20px;
}

.size-20{
    font-size: 20px;
}

.blog-post{
    margin: 20px 0 0 0;
    display: flex;
    border-bottom: 1px solid #16AA8A;
    padding-bottom: 20px;
}

.post-img img{
    width: 200px;
    height: 100px;
    margin-right: 20px;
    object-fit: cover;
    border: 1px solid #16AA8A;
}

.post-title{
    font-size: 1.3rem;
    color: #16AA8A !important;
}

.post-details{
    display: flex;
    font-size: 0.8rem;
}

.project-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(210px, max-content));
    grid-gap: 16px;
    justify-content: center;
}
.project {
    border: 1px solid green;
    padding: 10px 20px 10px 20px;
    margin: 10px;
}
.project img{
    width: 150px;
    height: 150px;
}
.link{
    color: #16AA8A;
}
.link:hover{
    border-bottom: 4px solid #ff63ac;
    cursor: pointer;
}


.post-list-option {
    float: right;
    width: 100%;
    margin-bottom: 5px;
}
.draft-js-style{
    border:1px solid #fff;
    height:400px;
}
.rdw-editor-toolbar, .rdw-editor-toolbar a {
    color: #000 !important;
}

.sub-menu{
    padding: 5px 0 0 70px;
}

input[type=text]{
    background-color: transparent;
    border: 1px solid #fff;
    color: white;
    outline: none;
}
input[type=text]:focus{
    border: 1px solid #16AA8A;
    color: white;
}

button{
    color: #16AA8A;
    background-color: transparent;
    border: none;
    cursor: pointer;
    border:1px solid #16AA8A;
}

.form{
    padding-left:70px;
    max-width: 100%;
}
.form .title{
    font-size: 20px;
}

.form input{
    width: 100%;
}

.form button{
    float: right;
    padding: 5px 40px;
}

button:hover{
    color: #fff;
    background-color: #16AA8A;
}

.form .post-checkbox{
    display: flex;
}

.form .input{
    margin-bottom: 20px;
}

.quill .ql-toolbar{
    background-color: #fff;
}

.profile-img{
    display: inline-block;
    float: left;
    margin-right: 20px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid #16AA8A;
    padding: 10px;
}

.lists-admin{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #16AA8A;
    padding: 20px 0;
}

.lists-admin .post-item, .lists-admin .post-list{
    margin: 0
}

.input-error{
    color: #ff1f1f
}

.input select{
    width: 100%;
    padding: 5px;
    font-size: 16px;
    font-family: unset;
}